## 1. Importing the library and initial set up

In [ ]:
pip install emoji

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting emoji
  Downloading emoji-2.2.0.tar.gz (240 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.9/240.9 kB 6.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-2.2.0-py3-none-any.whl size=234926 sha256=be2f5c1b1ee68799d987e2498ef4b2f785774d62e9ffc6a22d1d996ce431f2aa
  Stored in directory: /root/.cache/pip/wheels/9a/b8/0f/f580817231cbf59f6ade9fd132ff60ada1de9f7dc85521f857
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-2.2.0

In [ ]:
#importing libraries
import pandas as pd
#from gensim import summarize
import datetime
from pytz import timezone
import regex as re
nltk.downloader.download('stopwords')
from nltk.corpus import stopwords
import emoji

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## reading the dataset, and setting it up

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/december2021jan.csv')
data

<ipython-input-3-b72ef8d19ae2>:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/drive/MyDrive/december2021jan.csv')

,Unnamed: 0,all_awardings,associated_award,author,author_created_utc,author_flair_background_color,author_flair_css_class,author_flair_richtext,author_flair_template_id,author_flair_text,...,top_awarded_type,total_awards_received,treatment_tags,retrieved_utc,updated_utc,body_sha1,utc_datetime_str,nest_level,edited_on,author_cakeday
0,0,[],NaN,BadassMcGass,1.465992e+09,NaN,NaN,[],NaN,NaN,...,NaN,0,[],1620165462,1668691320,991d0f97d5346ee8d517d4e79244b38693792da2,2021-01-01 01:58:59,NaN,NaN,NaN
1,1,[],NaN,Stockengineer,1.446783e+09,NaN,NaN,[],NaN,NaN,...,NaN,0,[],1620165461,1668691320,7268a8d27b5b0c2b20d04b6435708548c6d02574,2021-01-01 01:58:57,NaN,NaN,NaN
2,2,[],NaN,laramidian,NaN,NaN,NaN,[],NaN,NaN,...,NaN,0,[],1620165461,1668691320,0787c7cbf545dc3af74b609fb338b9f5e2b3c6fb,2021-01-01 01:58:56,NaN,NaN,NaN
3,3,[],NaN,Houston_swimmer,1.535375e+09,#373c3f,NaN,"[{'e': 'text', 't': 'Better With Pictures'}]",28fbe25a-7c59-11ea-965e-0e0a65cd3f97,Better With Pictures,...,NaN,0,[],1620165456,1668691320,79b9e9e69a45ffe255cdb7a26b7c4a74cd89946e,2021-01-01 01:58:50,NaN,NaN,NaN
4,4,[],NaN,GoBeaversOSU,1.423722e+09,#ff4500,NaN,"[{'a': ':benny:', 'e': 'emoji', 'u': 'https://...",57c0331a-0d2e-11ea-86f4-0ef7601af6ab,:benny:,...,NaN,0,[],1620165456,1668691320,fb9d59f565bb633f59c9e935f4457b1e3533d354,2021-01-01 01:58:50,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710827,995,[],NaN,Jimmy070,NaN,NaN,NaN,[],NaN,NaN,...,NaN,0,[],1622532469,1668698082,efe27077dc42f6fc51c18bfb134e3a93af2522ce,2021-01-31 23:58:49,1.0,NaN,NaN
710828,996,[],NaN,Congo7500,NaN,NaN,NaN,[],NaN,NaN,...,NaN,0,[],1622532468,1668698082,a6dff6d04e7640ef1beeadf4c27274a028357e31,2021-01-31 23:58:48,1.0,NaN,NaN
710829,997,[],NaN,[deleted],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,[],1622532468,1668698082,fe993932d6dced4c0a879e9aa5d7a6e0fbb467f5,2021-01-31 23:58:48,1.0,NaN,NaN
710830,998,[],NaN,AdministrativeWall61,NaN,NaN,NaN,[],NaN,NaN,...,NaN,0,[],1622532468,1668698082,5c6ad4c53977d25d703a37d4acf38b83faec6bcd,2021-01-31 23:58:48,1.0,NaN,NaN
710831,999,[],NaN,dirtydeetzz,NaN,NaN,NaN,[],NaN,NaN,...,NaN,0,[],1622532469,1668698082,d0149795d5373312dfd4bf749b7b6601d60c36dc,2021-01-31 23:58:48,NaN,NaN,NaN

In [ ]:
datafeb = pd.read_csv('/content/drive/MyDrive/february2021.csv')
datafeb

<ipython-input-4-149ff5b0e88f>:1: DtypeWarning: Columns (7,53) have mixed types. Specify dtype option on import or set low_memory=False.
  datafeb = pd.read_csv('/content/drive/MyDrive/february2021.csv')

,Unnamed: 0,all_awardings,archived,associated_award,author,author_created_utc,author_flair_background_color,author_flair_css_class,author_flair_richtext,author_flair_template_id,...,top_awarded_type,total_awards_received,treatment_tags,updated_utc,body_sha1,utc_datetime_str,nest_level,edited_on,author_cakeday,media_metadata
0,0,[],False,NaN,accidentalprancingmt,1.334683e+09,NaN,NaN,[],NaN,...,NaN,0,[],1668622444,93d2e37ea43a99fd3428d1f1908cd3ad7c28ca42,2021-02-01 01:58:59,NaN,NaN,NaN,NaN
1,1,[],False,NaN,[deleted],NaN,NaN,NaN,NaN,NaN,...,NaN,0,[],1668622444,fe993932d6dced4c0a879e9aa5d7a6e0fbb467f5,2021-02-01 01:58:59,NaN,NaN,NaN,NaN
2,2,[],False,NaN,Bitchy_Tits,1.566609e+09,NaN,NaN,[],NaN,...,NaN,0,[],1668622444,92668c0d140b36d3f50d84c03a3eaf67adbc5495,2021-02-01 01:58:59,NaN,NaN,NaN,NaN
3,3,[],False,NaN,valhalla0ne,1.458152e+09,NaN,NaN,[],NaN,...,NaN,0,[],1668622444,38235882cc8415c9de4047edcc214fdfc5befb3c,2021-02-01 01:58:59,NaN,NaN,NaN,NaN
4,4,[],False,NaN,[deleted],NaN,NaN,NaN,NaN,NaN,...,NaN,0,[],1668622444,fe993932d6dced4c0a879e9aa5d7a6e0fbb467f5,2021-02-01 01:58:59,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643995,995,[],False,NaN,Jeff_Bezels,1.566622e+09,#dadada,NaN,"[{'e': 'text', 't': 'a poor '}]",78806c26-46a2-11e9-82c1-0ee7a9b74720,...,NaN,0,[],1668697544,4be3bb6165136583246bfb411e6761879ffce722,2021-02-28 23:57:41,1.0,NaN,NaN,NaN
643996,996,[],False,NaN,billyjk93,1.563602e+09,NaN,NaN,[],NaN,...,NaN,0,[],1668697544,8b90ff27e81094b31ff89010bfe57860b95d27b8,2021-02-28 23:57:41,NaN,NaN,NaN,NaN
643997,997,[],False,NaN,Dismal-Candy-568,1.611720e+09,NaN,NaN,[],NaN,...,NaN,0,[],1668697544,8537e01fe95fb38d88ee0de77d4d37bcc5cd587d,2021-02-28 23:57:40,NaN,NaN,NaN,NaN
643998,998,[],False,NaN,Cramer4President,1.593481e+09,NaN,NaN,[],NaN,...,NaN,0,[],1668697544,0d44947980af7fe03e43b4fd1bdbb3ce284ee382,2021-02-28 23:57:39,NaN,NaN,NaN,NaN
643999,999,[],False,NaN,PutsAtTheBottom,1.607562e+09,NaN,NaN,[],NaN,...,NaN,0,[],1668697544,63270241cdf6ae3c79e2d04c740a9b6a7946862b,2021-02-28 23:57:38,1.0,NaN,NaN,NaN

In [ ]:
stockdata = pd.read_csv('/content/stockjandata - Worksheet.csv')
stockdata

,Time Interval,Close,Net Chg,Open,High,Low,Tick Count,Volume,Unnamed: 8,Unnamed: 9
0,Summary,49.3600,44.5450,4.8125,120.7500,4.2700,3516021.0,3.825792e+09,NaN,NaN
1,31DEC2020_00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20:00 - 20:01,4.8225,0.0075,4.8125,4.8250,4.8125,39.0,2.404640e+05,31.0,20.0
3,20:01 - 20:02,4.8502,0.0277,4.8225,4.8775,4.8225,101.0,8.244000e+04,31.0,20.0
4,20:02 - 20:03,4.8495,-0.0007,4.8611,4.8750,4.8125,115.0,2.323800e+05,31.0,20.0
...,...,...,...,...,...,...,...,...,...,...
7244,02:25 - 02:26,55.5000,-3.7525,59.2025,59.4012,55.5000,545.0,4.482640e+05,29.0,2.0
7245,02:26 - 02:27,55.0000,-0.5000,55.5294,56.2500,55.0000,396.0,3.567480e+05,29.0,2.0
7246,02:27 - 02:28,52.9750,-2.0250,55.0025,55.1925,52.5000,522.0,4.506360e+05,29.0,2.0
7247,02:28 - 02:29,50.5000,-2.4750,52.7425,52.9775,50.5000,632.0,6.264440e+05,29.0,2.0
7248,02:29 - 02:30,49.3600,-1.1400,50.5025,50.5025,49.3600,482.0,7.230000e+05,29.0,2.0

In [ ]:
stockdatafeb = pd.read_csv('/content/stockdatafeb - Worksheet.csv')
stockdatafeb

,Time Interval,Close,Net Chg,Open,High,Low,Tick Count,Volume,Unnamed: 8,Unnamed: 9
0,Summary,25.4625,-23.8975,79.1400,80.5000,9.6250,2188019.0,2.099747e+09,NaN,NaN
1,01FEB2021_00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20:00 - 20:01,73.2650,23.9050,79.1400,80.0000,72.5000,653.0,2.068192e+06,1.0,20.0
3,20:01 - 20:02,74.3850,1.1200,73.5350,75.6650,70.5000,801.0,6.183560e+05,1.0,20.0
4,20:02 - 20:03,74.8500,0.4650,74.3975,75.9011,73.5375,442.0,3.008760e+05,1.0,20.0
...,...,...,...,...,...,...,...,...,...,...
7336,02:25 - 02:26,25.6149,0.1024,25.4900,26.0000,25.4000,475.0,4.592920e+05,27.0,2.0
7337,02:26 - 02:27,25.6087,-0.0062,25.6200,25.7200,25.5000,383.0,2.597840e+05,27.0,2.0
7338,02:27 - 02:28,25.5600,-0.0487,25.6225,25.6250,25.5025,445.0,4.063320e+05,27.0,2.0
7339,02:28 - 02:29,25.0525,-0.5075,25.5863,25.6250,25.0200,641.0,6.627040e+05,27.0,2.0
7340,02:29 - 02:30,25.4625,0.4100,25.0550,25.4700,25.0200,665.0,6.289480e+05,27.0,2.0

In [ ]:
#renaming the stock column

stockdata.rename(columns = {'Unnamed: 9':'hour'}, inplace = True)
stockdata.rename(columns = {'Unnamed: 8':'day'}, inplace = True)

In [ ]:
#renaming the stock column

stockdatafeb.rename(columns = {'Unnamed: 9':'hour'}, inplace = True)
stockdatafeb.rename(columns = {'Unnamed: 8':'day'}, inplace = True)

In [ ]:
stockdata = stockdata[stockdata['day'] != 31]

## grouping the data

In [ ]:
#sum of the stock data

a = stockdata.groupby(['day','hour']).last()['Close']
a1 = stockdata.groupby(['day','hour']).sum()['Volume']
x = a.index.to_frame()
x['Close'] = a.values
x['Volume'] = a1.values
x

            day  hour    Close      Volume
day  hour
1.0  0.0    1.0   0.0   4.7650   1973240.0
     1.0    1.0   1.0   4.7400   2573132.0
     2.0    1.0   2.0   4.7025   2941192.0
4.0  20.0   4.0  20.0   4.4687  11312296.0
     21.0   4.0  21.0   4.3800   8835096.0
...         ...   ...      ...         ...
28.0 22.0  28.0  22.0  69.0235  21504644.0
     23.0  28.0  23.0  57.5864  12420340.0
29.0 0.0   29.0   0.0  57.0550   9592360.0
     1.0   29.0   1.0  56.2932  13085164.0
     2.0   29.0   2.0  49.3600   8255300.0

[129 rows x 4 columns]

In [ ]:
#sum of the stock data

afeb = stockdatafeb.groupby(['day','hour']).last()['Close']
afeb1= stockdatafeb.groupby(['day','hour']).sum()['Volume']
xfeb = afeb.index.to_frame()
xfeb['Close'] = afeb.values
xfeb['Volume'] = afeb1.values
xfeb

            day  hour    Close      Volume
day  hour
1.0  20.0   1.0  20.0  53.2675  23642104.0
     21.0   1.0  21.0  68.4875  15155700.0
     22.0   1.0  22.0  63.0000   7486664.0
     23.0   1.0  23.0  59.8725   4588260.0
2.0  0.0    2.0   0.0  61.1475   6485808.0
...         ...   ...      ...         ...
26.0 22.0  26.0  22.0  23.2961  37381392.0
     23.0  26.0  23.0  24.9098  44271316.0
27.0 0.0   27.0   0.0  25.4050  22215420.0
     1.0   27.0   1.0  27.3298  51174512.0
     2.0   27.0   2.0  25.4625  15326852.0

[133 rows x 4 columns]

In [ ]:
x['year'] = 2021
x['month'] = 1
xfeb['year'] = 2021
xfeb['month'] = 2

In [ ]:
x['date'] = pd.to_datetime(x[['year', 'month', 'day', 'hour']])
xfeb['date'] = pd.to_datetime(xfeb[['year', 'month', 'day', 'hour']])

In [ ]:
x

            day  hour    Close      Volume  year  month                date
day  hour
1.0  0.0    1.0   0.0   4.7650   1973240.0  2021      1 2021-01-01 00:00:00
     1.0    1.0   1.0   4.7400   2573132.0  2021      1 2021-01-01 01:00:00
     2.0    1.0   2.0   4.7025   2941192.0  2021      1 2021-01-01 02:00:00
4.0  20.0   4.0  20.0   4.4687  11312296.0  2021      1 2021-01-04 20:00:00
     21.0   4.0  21.0   4.3800   8835096.0  2021      1 2021-01-04 21:00:00
...         ...   ...      ...         ...   ...    ...                 ...
28.0 22.0  28.0  22.0  69.0235  21504644.0  2021      1 2021-01-28 22:00:00
     23.0  28.0  23.0  57.5864  12420340.0  2021      1 2021-01-28 23:00:00
29.0 0.0   29.0   0.0  57.0550   9592360.0  2021      1 2021-01-29 00:00:00
     1.0   29.0   1.0  56.2932  13085164.0  2021      1 2021-01-29 01:00:00
     2.0   29.0   2.0  49.3600   8255300.0  2021      1 2021-01-29 02:00:00

[129 rows x 7 columns]

In [ ]:
y = x
yfeb = xfeb
y.index = x['date']
yfeb.index = xfeb['date']

In [ ]:
x['date'] = y.index.tz_localize(tz = 'Asia/Kolkata')
xfeb['date'] = yfeb.index.tz_localize(tz = 'Asia/Kolkata')

In [ ]:
x

,day,hour,Close,Volume,year,month,date
date,,,,,,,
2021-01-01 00:00:00,1.0,0.0,4.7650,1973240.0,2021,1,2021-01-01 00:00:00+05:30
2021-01-01 01:00:00,1.0,1.0,4.7400,2573132.0,2021,1,2021-01-01 01:00:00+05:30
2021-01-01 02:00:00,1.0,2.0,4.7025,2941192.0,2021,1,2021-01-01 02:00:00+05:30
2021-01-04 20:00:00,4.0,20.0,4.4687,11312296.0,2021,1,2021-01-04 20:00:00+05:30
2021-01-04 21:00:00,4.0,21.0,4.3800,8835096.0,2021,1,2021-01-04 21:00:00+05:30
...,...,...,...,...,...,...,...
2021-01-28 22:00:00,28.0,22.0,69.0235,21504644.0,2021,1,2021-01-28 22:00:00+05:30
2021-01-28 23:00:00,28.0,23.0,57.5864,12420340.0,2021,1,2021-01-28 23:00:00+05:30
2021-01-29 00:00:00,29.0,0.0,57.0550,9592360.0,2021,1,2021-01-29 00:00:00+05:30
2021-01-29 01:00:00,29.0,1.0,56.2932,13085164.0,2021,1,2021-01-29 01:00:00+05:30
2021-01-29 02:00:00,29.0,2.0,49.3600,8255300.0,2021,1,2021-01-29 02:00:00+05:30

## converting the time

In [ ]:
x['date'] = x['date'].dt.tz_convert('UTC')
xfeb['date'] = xfeb['date'].dt.tz_convert('UTC')

In [ ]:
x['hour'] = x['date'].dt.hour
x['day'] = x['date'].dt.day
xfeb['hour'] = xfeb['date'].dt.hour
xfeb['day'] = x['date'].dt.day
x.index = x['date']
xfeb.index = xfeb['date']
xfeb

,day,hour,Close,Volume,year,month,date
date,,,,,,,
2021-02-01 14:30:00+00:00,NaN,14,53.2675,23642104.0,2021,2,2021-02-01 14:30:00+00:00
2021-02-01 15:30:00+00:00,NaN,15,68.4875,15155700.0,2021,2,2021-02-01 15:30:00+00:00
2021-02-01 16:30:00+00:00,NaN,16,63.0000,7486664.0,2021,2,2021-02-01 16:30:00+00:00
2021-02-01 17:30:00+00:00,NaN,17,59.8725,4588260.0,2021,2,2021-02-01 17:30:00+00:00
2021-02-01 18:30:00+00:00,NaN,18,61.1475,6485808.0,2021,2,2021-02-01 18:30:00+00:00
...,...,...,...,...,...,...,...
2021-02-26 16:30:00+00:00,NaN,16,23.2961,37381392.0,2021,2,2021-02-26 16:30:00+00:00
2021-02-26 17:30:00+00:00,NaN,17,24.9098,44271316.0,2021,2,2021-02-26 17:30:00+00:00
2021-02-26 18:30:00+00:00,NaN,18,25.4050,22215420.0,2021,2,2021-02-26 18:30:00+00:00
2021-02-26 19:30:00+00:00,NaN,19,27.3298,51174512.0,2021,2,2021-02-26 19:30:00+00:00
2021-02-26 20:30:00+00:00,NaN,20,25.4625,15326852.0,2021,2,2021-02-26 20:30:00+00:00

In [ ]:
xfeb['day'] = xfeb.date.dt.day
xfeb['hour'] = xfeb.date.dt.hour
xfeb

,day,hour,Close,Volume,year,month,date
date,,,,,,,
2021-02-01 14:30:00+00:00,1,14,53.2675,23642104.0,2021,2,2021-02-01 14:30:00+00:00
2021-02-01 15:30:00+00:00,1,15,68.4875,15155700.0,2021,2,2021-02-01 15:30:00+00:00
2021-02-01 16:30:00+00:00,1,16,63.0000,7486664.0,2021,2,2021-02-01 16:30:00+00:00
2021-02-01 17:30:00+00:00,1,17,59.8725,4588260.0,2021,2,2021-02-01 17:30:00+00:00
2021-02-01 18:30:00+00:00,1,18,61.1475,6485808.0,2021,2,2021-02-01 18:30:00+00:00
...,...,...,...,...,...,...,...
2021-02-26 16:30:00+00:00,26,16,23.2961,37381392.0,2021,2,2021-02-26 16:30:00+00:00
2021-02-26 17:30:00+00:00,26,17,24.9098,44271316.0,2021,2,2021-02-26 17:30:00+00:00
2021-02-26 18:30:00+00:00,26,18,25.4050,22215420.0,2021,2,2021-02-26 18:30:00+00:00
2021-02-26 19:30:00+00:00,26,19,27.3298,51174512.0,2021,2,2021-02-26 19:30:00+00:00
2021-02-26 20:30:00+00:00,26,20,25.4625,15326852.0,2021,2,2021-02-26 20:30:00+00:00

In [ ]:
x['day'] = x.date.dt.day
x['hour'] = x.date.dt.hour
x

,day,hour,Close,Volume,year,month,date
date,,,,,,,
2020-12-31 18:30:00+00:00,31,18,4.7650,1973240.0,2021,1,2020-12-31 18:30:00+00:00
2020-12-31 19:30:00+00:00,31,19,4.7400,2573132.0,2021,1,2020-12-31 19:30:00+00:00
2020-12-31 20:30:00+00:00,31,20,4.7025,2941192.0,2021,1,2020-12-31 20:30:00+00:00
2021-01-04 14:30:00+00:00,4,14,4.4687,11312296.0,2021,1,2021-01-04 14:30:00+00:00
2021-01-04 15:30:00+00:00,4,15,4.3800,8835096.0,2021,1,2021-01-04 15:30:00+00:00
...,...,...,...,...,...,...,...
2021-01-28 16:30:00+00:00,28,16,69.0235,21504644.0,2021,1,2021-01-28 16:30:00+00:00
2021-01-28 17:30:00+00:00,28,17,57.5864,12420340.0,2021,1,2021-01-28 17:30:00+00:00
2021-01-28 18:30:00+00:00,28,18,57.0550,9592360.0,2021,1,2021-01-28 18:30:00+00:00
2021-01-28 19:30:00+00:00,28,19,56.2932,13085164.0,2021,1,2021-01-28 19:30:00+00:00
2021-01-28 20:30:00+00:00,28,20,49.3600,8255300.0,2021,1,2021-01-28 20:30:00+00:00

In [ ]:
datazero = pd.read_csv('/content/drive/My Drive/jan24thhour2021.csv')
datazero['datetime'] = pd.to_datetime(datazero['utc_datetime_str'])
datazero['day'] = datazero['datetime'].dt.day
datazero['hour'] = datazero['datetime'].dt.hour
datazero['month'] = datazero['datetime'].dt.month
datazero['minute'] = datazero['datetime'].dt.minute
datazero['second'] = datazero['datetime'].dt.day
datazerosubset = datazero.loc[:,['datetime','day', 'hour','month', 'body']]
datazerosubset

,datetime,day,hour,month,body
0,2021-01-01 00:59:55,1,0,1,frustrating to see CL\_F gain lately while the...
1,2021-01-01 00:59:54,1,0,1,Just a 30C 1/22 for $500.. I got burned heavil...
2,2021-01-01 00:59:52,1,0,1,Not sure this is the right subreddit for this....
3,2021-01-01 00:59:52,1,0,1,how do you find out what she buys? daily email?
4,2021-01-01 00:59:50,1,0,1,[luz](https://lmgtfy.app/?q=amazon+employee+st...
...,...,...,...,...,...
22795,2021-01-28 00:59:55,28,0,1,Keep up the great work. Ill continue to HOOOOO...
22796,2021-01-28 00:59:55,28,0,1,Yessss!
22797,2021-01-28 00:59:55,28,0,1,[removed]
22798,2021-01-28 00:59:55,28,0,1,[removed]
22799,2021-01-28 00:59:55,28,0,1,[removed]

In [ ]:


datazero2 = pd.read_csv('/content/drive/My Drive/jan-28-29-30-24thhour2021.csv')
datazero2['datetime'] = pd.to_datetime(datazero2['utc_datetime_str'])
datazero2['day'] = datazero2['datetime'].dt.day
datazero2['hour'] = datazero2['datetime'].dt.hour
datazero2['month'] = datazero2['datetime'].dt.month
datazero2['minute'] = datazero2['datetime'].dt.minute
datazero2['second'] = datazero2['datetime'].dt.day
datazero2subset = datazero2.loc[:,['datetime','day', 'hour','month', 'body']]
datazero2subset

,datetime,day,hour,month,body
0,2021-01-29 00:59:59,29,0,1,[removed]
1,2021-01-29 00:59:59,29,0,1,[removed]
2,2021-01-29 00:59:59,29,0,1,It is. The hard part is doing research and dec...
3,2021-01-29 00:59:59,29,0,1,[removed]
4,2021-01-29 00:59:59,29,0,1,No cashapp won't let you buy either I think. F...
...,...,...,...,...,...
1995,2021-01-30 00:59:59,30,0,1,[removed]
1996,2021-01-30 00:59:59,30,0,1,So much history in this sub and so much yet to...
1997,2021-01-30 00:59:59,30,0,1,Good for you ! I hope there’s more to come
1998,2021-01-30 00:59:58,30,0,1,Sir this is casino
1999,2021-01-30 00:59:58,30,0,1,The obsession with having a RH account is way ...

In [ ]:
#setting up the reddit data

data['datetime'] = pd.to_datetime(data['utc_datetime_str'])
data['day'] = data['datetime'].dt.day
data['hour'] = data['datetime'].dt.hour
data['month'] = data['datetime'].dt.month
data['minute'] = data['datetime'].dt.minute
data['second'] = data['datetime'].dt.day
datasubset = data.loc[:,['day', 'hour','month', 'body']]
datasubset

        day  hour  month                                               body
0         1     1      1  I was joking guy. In general, if you're risk a...
1         1     1      1            sold at 69 before it mooned to 140s lol
2         1     1      1        lolno did you witness the last 30 min today
3         1     1      1                     Sounds like a shitty situation
4         1     1      1  r/cfb likes WSB jokes like *Puts on Trask winn...
...     ...   ...    ...                                                ...
710827   31    23      1  Was in agreement tell, "Your Brokerage will ne...
710828   31    23      1  Why not invest in Moderna, real value great pr...
710829   31    23      1                                          [removed]
710830   31    23      1  Is $AMC supposed to be going up and should I i...
710831   31    23      1                               🍌 hold ! 🦍 💪🏽 ! 🚀 🌚!

[710832 rows x 4 columns]

In [ ]:
datasubset =  pd.concat([datazerosubset, datazero2subset, datasubset]).sort_values('datetime')

In [ ]:
datazerohourfeb = pd.read_csv('/content/drive/My Drive/feb-24thhour2021.csv')
datazerohourfeb['datetime'] = pd.to_datetime(datazerohourfeb['utc_datetime_str'])
datazerohourfeb['day'] = datazerohourfeb['datetime'].dt.day
datazerohourfeb['hour'] = datazerohourfeb['datetime'].dt.hour
datazerohourfeb['month'] = datazerohourfeb['datetime'].dt.month
datazerohourfeb['minute'] = datazerohourfeb['datetime'].dt.minute
datazerohourfeb['second'] = datazerohourfeb['datetime'].dt.day
datasubsetzerohourfeb = datazerohourfeb.loc[:,['datetime','day', 'hour','month', 'body']]
datasubsetzerohourfeb

<ipython-input-27-de53526bbd2b>:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  datazerohourfeb = pd.read_csv('/content/drive/My Drive/feb-24thhour2021.csv')

,datetime,day,hour,month,body
0,2021-02-01 00:59:59,1,0,2,Fidelity
1,2021-02-01 00:59:59,1,0,2,[deleted]
2,2021-02-01 00:59:59,1,0,2,Praise be to the infinite
3,2021-02-01 00:59:59,1,0,2,[deleted]
4,2021-02-01 00:59:58,1,0,2,Its plenty!:)\nYou can make rent or get grocer...
...,...,...,...,...,...
27995,2021-02-28 00:58:11,28,0,2,I think PLTR has a future.
27996,2021-02-28 00:58:09,28,0,2,🙄
27997,2021-02-28 00:58:09,28,0,2,To the moon 🚀🚀🚀🤲💎
27998,2021-02-28 00:58:09,28,0,2,I agree fwiw. Failing to cover their shorts be...
27999,2021-02-28 00:58:07,28,0,2,Prob b dope tbh hed prob hit flys to you

In [ ]:
#setting up the reddit data

datafeb['datetime'] = pd.to_datetime(datafeb['utc_datetime_str'])
datafeb['day'] = datafeb['datetime'].dt.day
datafeb['hour'] = datafeb['datetime'].dt.hour
datafeb['month'] = datafeb['datetime'].dt.month
datafeb['minute'] = datafeb['datetime'].dt.minute
datafeb['second'] = datafeb['datetime'].dt.day
datasubsetfeb1 = datafeb.loc[:,['datetime','day', 'hour','month', 'body']]
datasubsetfeb1

,datetime,day,hour,month,body
0,2021-02-01 01:58:59,1,1,2,What is a sell limit?
1,2021-02-01 01:58:59,1,1,2,[removed]
2,2021-02-01 01:58:59,1,1,2,That's all I could get. Did I get the royal f...
3,2021-02-01 01:58:59,1,1,2,yes!!!!
4,2021-02-01 01:58:59,1,1,2,[removed]
...,...,...,...,...,...
643995,2021-02-28 23:57:41,28,23,2,Did we decide who r fuk?
643996,2021-02-28 23:57:41,28,23,2,This is a pretty inspiring statement. If it's ...
643997,2021-02-28 23:57:40,28,23,2,I watched a documentary a few months ago that ...
643998,2021-02-28 23:57:39,28,23,2,You'll be ok. Closing higher than that soon imo
643999,2021-02-28 23:57:38,28,23,2,I love this subreddit when we are green. I hat...

In [ ]:
datasubsetfeb =  pd.concat([datasubsetzerohourfeb, datasubsetfeb1]).sort_values('datetime')
datasubsetfeb

,datetime,day,hour,month,body
297,2021-02-01 00:59:44,1,0,2,"Don’t sell your gme, Bb, amc, Nok shares! Tran..."
199,2021-02-01 00:59:44,1,0,2,Working for the shorts?
198,2021-02-01 00:59:44,1,0,2,"i'm a mod in several facebook groups, the FB s..."
197,2021-02-01 00:59:44,1,0,2,"Don’t sell your gme, Bb, amc, Nok shares! Tran..."
97,2021-02-01 00:59:44,1,0,2,"Don’t sell your gme, Bb, amc, Nok shares! Tran..."
...,...,...,...,...,...
643700,2021-02-28 23:58:59,28,23,2,Lmao definitely one of the better ones lately
643701,2021-02-28 23:58:59,28,23,2,my stimmy check doesnt have a number on it it ...
643402,2021-02-28 23:58:59,28,23,2,[removed]
643301,2021-02-28 23:58:59,28,23,2,my stimmy check doesnt have a number on it it ...
643502,2021-02-28 23:58:59,28,23,2,[removed]

## finding the sentiments

In [ ]:
import nltk
nltk.downloader.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [ ]:
#updating the analyzer
newwords = pd.read_csv('/content/new words final - Sheet1.csv')
keys = list(newwords['word'])
value = list(newwords['valence_score'])

my_dict = dict(zip(keys, value))

print(my_dict)
analyzer.lexicon.update(my_dict)

{'available': 0.8, 'awesome': 3.7, 'baby': 1.2, 'bad': -2.7, 'ball': 0.4, 'bull': 2.8, 'bullshit': -2.4, 'buy': 1.9, 'call': 0.9, 'future': 1.1, 'gain': 2.2, 'gamma': 0.0, 'gang': -0.3, 'gold': 2.0, 'good': 2.5, 'great': 3.1, 'green': 2.0, 'hand': 0.1, 'party': 0.8, 'penny': -0.2, 'poor': -1.9, 'possible': 0.8, 'potential': 1.4, 'power': 2.2, 'pretty': 2.3, 'probably': 0.4, 'top': 2.4, 'trade': 0.6, 'value': 1.3, 'win': 2.7, 'worth': 1.9, 'wrong': -1.8, 'yolo': 2.4, 'advice': 1.3, 'alternative': 0.9, 'amazing': 3.2, 'ass': -1.9, 'attack': -1.9, 'capital': 1.0, 'fact': 0.3, 'fake': -2.3, 'fight': -1.2, 'fine': 1.3, 'flair': 1.4, 'fuck': -2.8, 'fucking': -2.7, 'fun': 1.9, 'funny': 1.9, 'problem': -2.3, 'profit': 2.5, 'proud': 2.1, 'pump': -0.5, 'purchase': 1.3, 'push': 0.5, 'quick': 0.8, 'retard': -2.2, 'share': 0.8, 'shit': -2.6, 'short': -1.8, 'silver': -0.2, 'small': -0.3, 'squeeze': -1.6, 'star': 2.4, 'stonk': 1.5, 'stop': -0.8, 'cash': 0.6, 'concern': -1.3, 'crash': -3.2, 'crazy': 0.7, 'crypto': 0.5, 'damn': -1.7, 'diamond': 2.9, 'hard': -1.1, 'hedge': 0.5, 'hell': -2.5, 'high': 2.4, 'hodl': 2.8, 'hold': 1.5, 'holding': 1.6, 'hope': 1.5, 'limit': -0.4, 'lmao': 2.6, 'lol': 1.0, 'long': 1.8, 'loss': -2.5, 'love': 2.3, 'low': -1.7, 'luck': 2.1, 'revolution': 2.0, 'rich': 2.5, 'ride': 1.0, 'rocket': 2.8, 'sale': -0.7, 'scare': -2.3, 'scared': -2.6, 'sell': -1.8, 'seller': -1.3, 'selling': -1.9, 'diamond_hand': 3.0, 'dip': -0.4, 'dumb': -1.9, 'earning': 1.8, 'easy': 1.6, 'end': -0.8, 'enough': 0.1, 'hype': 1.2, 'idiot': -2.6, 'illegal': -3.2, 'interest': 1.1, 'issue': -1.1, 'joke': -0.5, 'jump': 1.4, 'least': -0.4, 'legal': 1.9, 'manipulation': -2.3, 'margin': -0.1, 'moment': 0.7, 'moon': 2.1, 'movement': 0.9, 'naked': -1.1, 'nice': 2.0, 'order': 0.4, 'panic': -3.0, 'straight': 1.0, 'strong': 2.1, 'stupid': -2.1, 'support': 2.2, 'target': 1.3, 'tendie': 1.7, 'to_the_moon': 3.5}

In [ ]:
# Define a function to map emojis to their textual representation
def map_emojis(text):
    for emoji_char in emoji.emojize(text):
        emoji_name = emoji.demojize(emoji_char).replace(':', '').replace('_', ' ')
        text = text.replace(emoji_char, emoji_name)
    return text

In [ ]:
#preprocessing the text
def preprocess_data(text):
  text = text.lower()  # convert all text to lowercase
  text = re.sub(r'[^\w\s]', '', text)  # remove punctuation
  text = ' '.join([word for word in text.split() if word not in stopwords.words('english')]) 
  text = text.replace('[removed]', ' ')
  text = map_emojis(text)

  return text

In [ ]:
def pol(text):
    
    return analyzer.polarity_scores(text)

In [ ]:
datasubset['body'] = datasubset['body'].apply(preprocess_data)
datasubset['polarity'] = datasubset['body'].apply(pol)
data1 = datasubset['polarity'].apply(pd.Series)
datasubset['neg'] = data1['neg']
datasubset['neu'] = data1['neu']
datasubset['pos'] = data1['pos']
datasubset['compound'] = data1['compound']
a = datasubset.groupby(['day','hour']).sum()['compound']
a
x1 = a.index.to_frame()
x1['compound'] = a.values
x1['pos'] = datasubset.groupby(['day','hour']).sum()['pos'].values
x1['neg'] = datasubset.groupby(['day','hour']).sum()['neg'].values
x1['neu'] = datasubset.groupby(['day','hour']).sum()['neu'].values
x1

          day  hour  compound     pos     neg     neu
day hour
1   0       1     0    75.038  197.11  136.52  636.38
    1       1     1   109.387  195.28  111.19  663.54
    2       1     2   132.356  220.63  104.55  644.83
    3       1     3    28.912  168.94  139.27  681.81
    4       1     4    -0.049  136.62  154.26  699.17
...       ...   ...       ...     ...     ...     ...
31  19     31    19   171.611  203.78  118.22  668.01
    20     31    20   108.877  215.28  118.28  656.43
    21     31    21    84.045  157.93   91.84  740.22
    22     31    22   104.989  159.67   99.99  730.35
    23     31    23    66.613  200.26  134.40  655.30

[737 rows x 6 columns]

In [ ]:
datasubset.groupby(['day','hour']).sum()['compound']

day  hour
1    0        75.038
     1       109.387
     2       132.356
     3        28.912
     4        -0.049
              ...
31   19      171.611
     20      108.877
     21       84.045
     22      104.989
     23       66.613
Name: compound, Length: 737, dtype: float64

In [ ]:
datasubsetfeb['body'] = datasubsetfeb['body'].apply(preprocess_data)
datasubsetfeb['polarity'] = datasubsetfeb['body'].apply(pol)
data1feb = datasubsetfeb['polarity'].apply(pd.Series)
datasubsetfeb['neg'] = data1feb['neg']
datasubsetfeb['neu'] = data1feb['neu']
datasubsetfeb['pos'] = data1feb['pos']
datasubsetfeb['compound'] = data1feb['compound']
afeb = datasubsetfeb.groupby(['day','hour']).sum()['compound']
afeb
x1feb = afeb.index.to_frame()
x1feb['compound'] = afeb.values
x1feb['pos'] = datasubsetfeb.groupby(['day','hour']).sum()['pos'].values
x1feb['neg'] = datasubsetfeb.groupby(['day','hour']).sum()['neg'].values
x1feb['neu'] = datasubsetfeb.groupby(['day','hour']).sum()['neu'].values
x1feb

          day  hour  compound      pos      neg      neu
day hour
1   0       1     0  131.0050  185.650   73.230  741.140
    1       1     1   32.4430  109.810   76.930  813.280
    2       1     2   47.3630   93.020   85.510  801.450
    3       1     3  108.9390  149.230   62.200  788.570
    4       1     4   60.4359  128.811   72.548  778.641
...       ...   ...       ...      ...      ...      ...
28  19     28    19   92.5543  211.634  116.386  641.980
    20     28    20  124.2510  183.330  130.600  646.060
    21     28    21  161.1040  231.840   80.980  657.190
    22     28    22  131.4450  227.250  107.640  655.110
    23     28    23  115.7710  202.130  104.330  673.540

[672 rows x 6 columns]

In [ ]:
x1['month'] = 1
x1['year'] = 2021
x1feb['month'] = 2
x1feb['year'] = 2021

In [ ]:
x1.index = pd.to_datetime(x1[['year', 'month', 'day', 'hour']])
x1feb.index = pd.to_datetime(x1feb[['year', 'month', 'day', 'hour']])

In [ ]:
x

,day,hour,Close,Volume,year,month,date
date,,,,,,,
2020-12-31 18:30:00+00:00,31,18,4.7650,1973240.0,2021,1,2020-12-31 18:30:00+00:00
2020-12-31 19:30:00+00:00,31,19,4.7400,2573132.0,2021,1,2020-12-31 19:30:00+00:00
2020-12-31 20:30:00+00:00,31,20,4.7025,2941192.0,2021,1,2020-12-31 20:30:00+00:00
2021-01-04 14:30:00+00:00,4,14,4.4687,11312296.0,2021,1,2021-01-04 14:30:00+00:00
2021-01-04 15:30:00+00:00,4,15,4.3800,8835096.0,2021,1,2021-01-04 15:30:00+00:00
...,...,...,...,...,...,...,...
2021-01-28 16:30:00+00:00,28,16,69.0235,21504644.0,2021,1,2021-01-28 16:30:00+00:00
2021-01-28 17:30:00+00:00,28,17,57.5864,12420340.0,2021,1,2021-01-28 17:30:00+00:00
2021-01-28 18:30:00+00:00,28,18,57.0550,9592360.0,2021,1,2021-01-28 18:30:00+00:00
2021-01-28 19:30:00+00:00,28,19,56.2932,13085164.0,2021,1,2021-01-28 19:30:00+00:00
2021-01-28 20:30:00+00:00,28,20,49.3600,8255300.0,2021,1,2021-01-28 20:30:00+00:00

In [ ]:
x1

                     day  hour  compound     pos     neg     neu  month  year
2021-01-01 00:00:00    1     0    75.038  197.11  136.52  636.38      1  2021
2021-01-01 01:00:00    1     1   109.387  195.28  111.19  663.54      1  2021
2021-01-01 02:00:00    1     2   132.356  220.63  104.55  644.83      1  2021
2021-01-01 03:00:00    1     3    28.912  168.94  139.27  681.81      1  2021
2021-01-01 04:00:00    1     4    -0.049  136.62  154.26  699.17      1  2021
...                  ...   ...       ...     ...     ...     ...    ...   ...
2021-01-31 19:00:00   31    19   171.611  203.78  118.22  668.01      1  2021
2021-01-31 20:00:00   31    20   108.877  215.28  118.28  656.43      1  2021
2021-01-31 21:00:00   31    21    84.045  157.93   91.84  740.22      1  2021
2021-01-31 22:00:00   31    22   104.989  159.67   99.99  730.35      1  2021
2021-01-31 23:00:00   31    23    66.613  200.26  134.40  655.30      1  2021

[737 rows x 8 columns]

,day,hour,Price,year,month,date,compound,pos,neg,neu
0,31,18,4.7650,2021,1,2020-12-31 18:30:00+00:00,71.6001,102.885,65.115,832.001
1,31,19,4.7400,2021,1,2020-12-31 19:30:00+00:00,111.8150,97.260,73.280,819.450
2,31,20,4.7025,2021,1,2020-12-31 20:30:00+00:00,90.7750,110.950,63.950,825.100
3,4,14,4.4687,2021,1,2021-01-04 14:30:00+00:00,-26.2450,111.840,126.130,762.020
4,4,15,4.3800,2021,1,2021-01-04 15:30:00+00:00,-4.2300,81.590,106.160,812.230
...,...,...,...,...,...,...,...,...,...,...
124,28,16,69.0235,2021,1,2021-01-28 16:30:00+00:00,-37.7930,49.470,63.310,887.220
125,28,17,57.5864,2021,1,2021-01-28 17:30:00+00:00,15.2280,56.720,40.060,903.240
126,28,18,57.0550,2021,1,2021-01-28 18:30:00+00:00,11.2580,74.070,37.460,888.480
127,28,19,56.2932,2021,1,2021-01-28 19:30:00+00:00,17.0220,53.670,40.750,895.590
128,28,20,49.3600,2021,1,2021-01-28 20:30:00+00:00,-21.7950,60.230,69.490,870.290

In [ ]:
x = x.tz_localize(None)
xfeb = xfeb.tz_localize(None)
final = x.merge(x1)
finalfeb = x1feb.merge(xfeb)

In [ ]:
final

,day,hour,Close,Volume,year,month,date,compound,pos,neg,neu
0,31,18,4.7650,1973240.0,2021,1,2020-12-31 18:30:00+00:00,110.4878,211.042,115.03,673.929
1,31,19,4.7400,2573132.0,2021,1,2020-12-31 19:30:00+00:00,171.6110,203.780,118.22,668.010
2,31,20,4.7025,2941192.0,2021,1,2020-12-31 20:30:00+00:00,108.8770,215.280,118.28,656.430
3,4,14,4.4687,11312296.0,2021,1,2021-01-04 14:30:00+00:00,-7.7750,161.600,193.27,605.130
4,4,15,4.3800,8835096.0,2021,1,2021-01-04 15:30:00+00:00,22.8910,139.720,137.02,713.300
...,...,...,...,...,...,...,...,...,...,...,...
124,28,16,69.0235,21504644.0,2021,1,2021-01-28 16:30:00+00:00,41.5380,133.620,88.83,777.550
125,28,17,57.5864,12420340.0,2021,1,2021-01-28 17:30:00+00:00,48.5220,116.300,54.05,809.670
126,28,18,57.0550,9592360.0,2021,1,2021-01-28 18:30:00+00:00,27.0280,145.340,71.50,763.190
127,28,19,56.2932,13085164.0,2021,1,2021-01-28 19:30:00+00:00,76.5990,156.420,64.18,769.400
128,28,20,49.3600,8255300.0,2021,1,2021-01-28 20:30:00+00:00,-5.9930,145.370,126.46,728.190

In [ ]:
finalfeb

,day,hour,compound,pos,neg,neu,month,year,Close,Volume,date
0,1,14,117.2333,223.313,112.474,644.226,2,2021,53.2675,23642104.0,2021-02-01 14:30:00+00:00
1,1,15,-11.9539,109.328,96.369,784.304,2,2021,68.4875,15155700.0,2021-02-01 15:30:00+00:00
2,1,16,60.6150,104.382,44.363,841.245,2,2021,63.0000,7486664.0,2021-02-01 16:30:00+00:00
3,1,17,111.2350,143.850,75.830,780.330,2,2021,59.8725,4588260.0,2021-02-01 17:30:00+00:00
4,1,18,80.3360,97.960,56.160,815.850,2,2021,61.1475,6485808.0,2021-02-01 18:30:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...
128,26,16,136.3940,237.220,108.410,654.400,2,2021,23.2961,37381392.0,2021-02-26 16:30:00+00:00
129,26,17,28.0300,165.840,178.520,625.670,2,2021,24.9098,44271316.0,2021-02-26 17:30:00+00:00
130,26,18,193.2740,247.770,104.240,638.000,2,2021,25.4050,22215420.0,2021-02-26 18:30:00+00:00
131,26,19,62.8364,181.754,111.800,686.456,2,2021,27.3298,51174512.0,2021-02-26 19:30:00+00:00
132,26,20,82.8640,186.140,116.710,667.130,2,2021,25.4625,15326852.0,2021-02-26 20:30:00+00:00

In [ ]:
janfeb = pd.concat([final, finalfeb])
janfeb = janfeb.sort_values('date')

In [ ]:
janfeb = janfeb[janfeb['day'] != 31]

In [ ]:
janfeb['hour'].value_counts()

14    37
15    37
16    37
17    37
18    37
19    37
20    37
Name: hour, dtype: int64

In [ ]:
janfeb.to_csv('jabfebfinalaugmentedwords.csv')